@font-face {
  font-family: 'AeonikPro-Medium';
  src: url('fonts/AeonikPro-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AeonikPro-Bold';
  src: url('fonts/AeonikPro-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AeonikPro-Regular';
  src: url('fonts/AeonikPro-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
