@use '@app/globals/_mixins.scss' as *;

.NavMenu {
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  @include padding-container;
  &__menu {
    display: flex;
    gap: 50px;
    &__item {
      font-family: var(--AeonikPro_black);
      font-size: 23px;
      line-height: 31px;
      color: var(--primary);
      text-transform: uppercase;
      &_active {
        color: var(--activMenu);
      }
    }
    &__back {
      font-family: var(--AeonikPro_black);
      font-size: 23px;
      line-height: 31px;
      color: var(--activMenu);
      text-transform: uppercase;
    }
  }
}
